@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400&display=swap');

html {
    scroll-behavior: smooth !important;
}

body {
    background-image: url("./assets/patternBGsmall.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}



.header-container {
	display: flex;
    align-items: center;
    justify-items: center;

}

.container-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#navbar {
    display: flex;
    background-color: #29ac84;
    padding: 40px;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;

}

#navbar ul {
    display: flex;
    padding: 0;
    list-style: none;
    text-align: center;
    flex-basis: 100%;
    justify-content: center;
    
}

#navbar li {
    padding: 10px;
    align-content: center;
    text-align: center;
    margin: 12px;
    
}

#navbar a{
	color:#fff;
	text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-right: 0px;
    word-wrap: break-word;

}

#navbar a:hover{
    text-decoration: underline;
}

#logo-img {
    width: 75%;
}

.orange-box {
    display: flex;
    background-color: #F1871A;
    width: 75%;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

}

.escola {
    flex-basis: 50%;
    align-items: center;
    
}

.escola h1 {
    text-decoration: none;
    color: #fff;
    font-size: 54;
    font-weight: 900;
    line-height: 1.4em;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px 30px;
    width: fit-content;
    margin: auto;
}

#paragraphs p{
    text-decoration: none;
    font-size: 18px;
    line-height: 1.4em;
    color: #fff;
    text-align: justify;
}

#paragraphs {
    flex-basis: 50%;
    margin: 35px 35px 35px 0px;
}

.green-boxes-1, .green-boxes-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 75%;
    justify-content: center;
    margin-top: 75px;
}

.infraestrutura {
    background-color: #29AC84;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    width: 470px;
    height: 470px;

}

.infraestrutura h1 {
    text-decoration: none;
    font-size: 40;
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
    margin-top: 195px;
    margin-left: 45px;
    margin-right: 45px;
    width: 350px;
    height: 390px;
}

#img2, #img3, #img4 {
    flex-basis: 33%;
}

#img2 {
    border-top-left-radius: 30px;
}

#img3 {
    border-top-right-radius: 30px;
}

.green-boxes-2 {
    margin-top: 0.5%;
}

.a-escola, .elementos {
    background-color: #29AC84;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-right: 10px;
    width: 470px;
    height: 470px;
    border-bottom-left-radius: 30px;
}

.elementos {
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 30px;

}

.a-escola p, .elementos p {
    text-decoration: none;
    font-size: 22;
    font-weight: 500;
    line-height: 1.4em;
    color: #fff;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;
    width: 350px;
    height: 390px;
}

.elementos p {
    margin-top: 120px;
}

.atividades-extracurriculares {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 10%;
}

#atividades-titulo {
    margin-top: 4%;
    margin-bottom: 0.3%;
    margin-left: 4%;
}

#atividades-titulo h1 {
    color: #F1871A;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 35px;

}

.box-danca, .box-bem-estar, .box-criar-e-transformar, .box-clube-da-historia, .box-corpo {
    display: flex;
    align-items: center;
}

#danca, #bem-estar, #criar-e-transformar, #clube-da-historia, #corpo {
    background-color: #F1871A;
    flex-basis: 50%;
    padding: 2% 20% 3% 4%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
    text-align: justify; 
}

#danca h1, #bem-estar h1, #criar-e-transformar h1, #clube-da-historia h1, #corpo h1 {
    text-decoration: none;
    font-size: 50;
    font-weight: bold;
    line-height: 1.4em;
    color: #fff;
    text-align: center;
}

#danca p, #bem-estar p, #criar-e-transformar p, #clube-da-historia p, #corpo p {
    text-decoration: none;
    font-size: 20;
    font-weight: 400;
    line-height: 1.4em;
    color: #fff;
    width: 100%;
}

#danca p {
    width: 125%;
}

#img5, #img7, #img9{
    position: relative;
    right: 4.4%;
    width: 55%;
}

#bem-estar, #clube-da-historia {
    order: 2;
    border-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1% 4% 1% 15%;
    align-items: center;
    width: 60%;
    position: relative;
    right: 8%;
}

#bem-estar, #criar-e-transformar, #clube-da-historia {
    margin-top: 30px;
}

#bem-estar p {
    font-size: 18px;
}

#clube-da-historia p {
    font-size: 20px;
}

#bem-estar h1, #clube-da-historia h1 {
    margin: 0px;
}

#img6, #img8 {
    position: relative;
    order: 1;
    width: 55%;
    margin-top: 30px;
}

#clube-da-historia {
    padding-top: 3%;
    padding-bottom: 3%;
}

#criar-e-transformar {
    padding-top: 0%;
    padding-bottom: 1%;
}

#criar-e-transformar h1 {
    margin-top: 4%;
    margin-bottom: 0%;
}

#criar-e-transformar p {
    width: 125%;
}

#corpo, #img9 {
    margin-bottom: 150px;
}

.box-informacoes {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-top: 50px;

}

.box-informacoes img {
    width: 70%;
    position: relative;
    bottom: 20%;
    padding-left: 15%;
}

.box-informacoes h3 {
    text-decoration: none;
    font-size: 20;
    font-weight: 400;
    line-height: 1.4em;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 20%;
    text-align: center;
}

.box-informacoes p {
    text-decoration: none;
    font-size: 20;
    font-weight: 400;
    line-height: 1.6em;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 15%;
    
}

#alimentacao, #biometria, #seguranca {
    flex-direction: column;
    background-color: #29AC84;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
}

#alimentacao {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#seguranca {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.box-contato {
    display: flex;
    flex-direction: row; 
    margin-top: 150px;  
    align-items: center;
    justify-content: center;
    width: 75%;
}

.box-contato h1 {
    text-decoration: none;
    font-size: 50;
    font-weight: bold;
    line-height: 1.4em;
    color: #29AC84;
    text-align: center;
    margin-left: 15%;
}

.contatos {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.contatos img {
    width: 10%;
}

.contatos h3, .contatos a {
    text-decoration: none;
    font-size: 25;
    font-weight: 700;
    line-height: 1.6em;
    color: #29AC84;
    margin: 0px;
    margin-left: 5%;
}

.contatos a:hover {
    text-decoration: underline;
}

.contatos div {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}


#img-fim {
    margin-top: 150px;
    width: 100%;
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

a.anchor-contato {
    display: block;
    position: relative;
    top: -15px;
    visibility: hidden;
}



@media screen and (max-width: 992px) {

    #navbar ul {
      flex-basis: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #navbar li {
        border-bottom: 1px solid #fff;
        padding-bottom: 25px;
        padding-right: 0px;
    }

    #navbar li:last-child {
        border-bottom: 0px;
        padding-bottom: 0px;
    }

    .orange-box {
        flex-direction: column;
        margin-top: 10px;
        border-radius: 30px;
    }

    .green-boxes-1, .green-boxes-2 {
        flex-wrap: wrap;
    }
    
    .escola {
        flex-basis: 5%;
        margin-top: 10px;
    }

    #paragraphs {
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
    }

    #img2, #img3 {
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
    }

    .elementos, .a-escola {
        margin: 0px;
        border-radius: 0px;
    }

    .infraestrutura {
        margin-left: 0px;
        margin-right: 0px;
    }

    .infraestrutura h1 {
        margin-left: 40px;
    }

    .elementos, .infraestrutura, .a-escola, #img2, #img3, #img4 {
        margin-bottom: 30px;
        border-radius: 30px;
    }

    .box-danca, .box-bem-estar, .box-criar-e-transformar, .box-clube-da-historia, .box-corpo {
        flex-direction: column;
    }
    
    #atividades-titulo {
        margin-bottom: 30px;
    }

    #atividades-titulo h1 {
        text-align: center;
    }
    
    #danca, #bem-estar, #criar-e-transformar, #clube-da-historia, #corpo {
        padding: 10px;
        border-radius: 30px;
        text-align: justify;
    }

    #img5, #img6, #img7, #img8, #img9 {
        width: 100%;
        margin: 10px 0 0 0;
        position: relative;
        right: 0;
    }

    #danca p, #criar-e-transformar p {
        width: 100%;
    }

    #bem-estar, #clube-da-historia {
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 0%;
    }

    #img6, #img8 {
        order: 2;
    }

    #corpo, #img9 {
        margin-bottom: 0;
    }

    .box-informacoes {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    #alimentacao, #seguranca {
        border-radius: 0px;
    }

    #alimentacao {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    #seguranca {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    #alimentacao , #biometria {
        padding-bottom: 100px;
    }

    .box-contato {
        flex-direction: column;
        margin: 15%;
    }

    .contatos {
        margin-left: 0;
    }

    .contatos h3, .contatos a {
        font-size: 18;
    }

    .box-contato h1 {
        margin: 0 0 5% 0;
    }

    .box-informacoes {
        width: 100%;
    }


  }

  @media screen and (max-width: 600px) {
    #navbar a {
        word-break: none;
    }

    #logo-img {
        width: 95%;
    }

    .orange-box {
        width: 95%;
        flex-direction: column;
    }

    .escola {
        margin-top: 10px;
        flex-basis: 5%;
    }

    #paragraphs {
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
    }

    .escola h1 {
        font-size: 30px;
    }

    #navbar ul{
      flex-basis: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .green-boxes-1, .green-boxes-2 {
        flex-wrap: wrap;
    }

    .elementos, .a-escola {
        margin: 0px;
        border-radius: 0px;
    }

    #img2, #img3, #img4 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .elementos, .infraestrutura, .a-escola, #img2, #img3, #img4 {
        margin-bottom: 30px;
        border-radius: 30px;
    }

    .box-danca {
        flex-direction: column;
    }
    
    #atividades-titulo h1 {
        text-align: center;
    }

    .contatos h3, .contatos a {
        font-size: 14;

    }

    .box-informacoes {
        align-items: center;
    }
  }